{% extends "layout.html" %} 
{% load static %} 

{% block page_title %} 
  {{month | title}} Goal
{%endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static "challenges/challenges.css" %}"/>
{% endblock %} 

{% block content %} 

{% include "challenges/includes/header.html" %}

<div class="container">
  <h1>{{month | title }} Goal</h1>
  <h2>{{response}}</h2>
  <div class="buttons">
    <p><a href="{{next_month}}">Next {{next_month | title}}</a></p>
    <p><a href="/challenges">Home</a></p>
  </div>
</div>
{% endblock %}
