{% extends "layout.html" %} {% block page_title%} Monthly Goals {% endblock %}
{% block styles%}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)
      ),
      url("https://images.unsplash.com/photo-1595624871930-6e8537998592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .list {
    position: relative;
  }
  .list h2 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .list ul {
    position: relative;
    font-size: 1.5rem;
  }
  .list ul li {
    position: relative;
    left: 0;
    color: #fce4ec;
    list-style: none;
    margin: 4px 0;
    border-left: 2px solid #f50057;
    transition: 0.5s;
    cursor: pointer;
  }
  .list ul li:hover {
    left: 10px;
  }
  .list ul li span {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
  }
  .list ul li:hover span {
    color: #111;
  }
  .list ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f50057;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }
  .list ul li:hover:before {
    transform: scaleX(1);
  }
  .list ul li a span : {
    color: #fff;
  }
</style>
{% endblock %} {% block content%}
<div class="list">
  <h2>List Item Hover Effect</h2>
  <ul>
    {% for month in months %}
    <li>
      <a href="/challenges/{{month}}"><span>{{month|title}}</span></a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
